.item {
  margin: 25px;
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
